h3 {
    margin-top: 20px!important;
    font-size:20px!important;
    color: greenyellow;
    text-transform: uppercase;

}

.aboutDetail {
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 50px;
}

.projectDetail {
    padding-left: 53px;
    padding-right: 50px;
    padding-top: 50px;
}